.top-buttons {
    display: flex;
    flex-direction: row;
}

.product-container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
    margin-right: 100px;
}

.accessory-container {
    display: flex;    
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
}

.button {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    height: 37px;
    color: gray;
    font-weight: bold;
    font-size: smaller;
}

.button:hover, .large-cat-button:hover {
    cursor: pointer;
    background-color: lightgray;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    color: blue;
    margin: 0px;
}

.large-cat {
    display: flex;
    flex-grow: 1;
    background-image: url("https://placekitten.com/200/200");
    height: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.large-cat-header {
    margin-top: 70px;
    color: white;
    font-size: 200%;
    font-weight: bold;
}

.large-cat-subtext {
    color: white;
    margin-top: 10px;
}

.large-cat-button {
    color: blue;
    margin-top: 30px;
    font-weight: bold;
    background-color: white;
    padding: 10px;
    font-size: 60%;
    border-radius: 5px;
}